* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffe4e1;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e6e6fa;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #4a4a4a;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

aside {
    background-color: #f8bbd0;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

#about-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#socials {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

#projects-h2 {
    padding-top: .8rem;
    padding-left: 1rem;
    align-self: flex-start;
}

#projects-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#projects-list > li {
    background-color: #f3e5f5;
    padding: 1rem;
    border: 1px solid #d8bfd8;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: calc(100% - 16px);
}

.project-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.technology-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.technology-list li {
    background-color: #d1e7dd;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    font-size: 0.875rem;
    color: #4a4a4a;
    white-space: nowrap;
    margin: 0.25rem;
    width: fit-content;
}

.links-btn {
    padding: 0.5rem;
    margin: .25rem;
    text-decoration: none;
    background-color: rgba(160, 216, 239, 0.5);
    color: #4a4a4a;
    border: 2px solid #a0d8ef;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.links-btn:hover {
    background-color: rgba(160, 216, 239, 1);
    border-color: #87ceeb;
}

.links-btn:active {
    background-color: #6ab9d4;
    border-color: #6ab9d4;
}

.img-carousel {
    position: relative;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-carousel img {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.prev-btn,
.next-btn {
    background-color: rgba(203, 192, 255, 0.5);
    color: #4a4a4a;
    border: 2px solid #bcbaff;
    border-radius: 6px;
    width: 26px;
    height: 34px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    margin: 0 0.25rem;
    position: absolute;
    z-index: 10;
}

.prev-btn {
    left: -30px;
}

.next-btn {
    right: -30px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(203, 192, 255, 1);
    border-color: #aba8ff;
}

.prev-btn:active,
.next-btn:active {
    background-color: #8c87ff;
    border-color: #8c87ff;
}

footer {
    background-color: #d8bfd8;
    padding: 1rem;
    text-align: center;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay-content {
    width: 80%;
    max-width: 600px;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.overlay-prev-btn,
.overlay-next-btn {
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: rgba(203, 192, 255, 0.5);
    border: 2px solid #bcbaff;
    border-radius: 6px;
    font-size: 2rem;
    cursor: pointer;
    transform: translateY(-50%);
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.overlay-prev-btn:hover,
.overlay-next-btn:hover {
    background-color: rgba(203, 192, 255, 1);
    border-color: #aba8ff;
}

.overlay-prev-btn:active,
.overlay-next-btn:active {
    background-color: #8c87ff;
    border-color: #8c87ff;
}

.overlay-prev-btn {
    left: 10px;
}

.overlay-next-btn {
    right: 10px;
}

@media (max-width: 480px) {
    .prev-btn,
    .next-btn {
        width: 20px;
        height: 30px;
        font-size: 1rem;
        margin: 0 0.125rem;
    }

    .overlay-prev-btn,
    .overlay-next-btn {
        width: 20px;
        height: 30px;
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    aside {
        order: -1;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    aside {
        margin-bottom: 0;
    }

    #about {
        flex-direction: column;
    }

    .img-carousel {
        margin-right: 1rem;
    }

    .img-carousel img {
        width: 300px;
        height: 300px;
    }

    .prev-btn,
    .next-btn {
        margin-top: 10px;
        width: 20px;
        height: 30px;
        font-size: 1rem;
    }

    .img-carousel {
        position: relative;
    }

    .prev-btn {
        left: -30px;
    }

    .next-btn {
        right: -30px;
    }

    #projects-list {
        margin-left: 1rem;
    }
}


@media (min-width: 955px) {
    .project-item {
        gap: 1rem;
        height: 100%;
        align-items: flex-start;
    }

    #projects-list > li {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (min-width: 1440px) {
    main {
        padding-left: 70px;
        padding-right: 70px;
    }
}
